torch==2.1.2        
transformers==4.37.2    
sentence-transformers==2.2.2  
huggingface-hub==0.19.4
rake-nltk==1.0.6
nltk==3.9.1
flask==3.0.0            
flask-cors==4.0.0  
hf-transfer==0.1.4    
numpy==1.26.4   